aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
altgraph==0.17.3
apparmor==3.1.2
appdirs==1.4.4
application-utility==1.3.2
arandr==0.1.11
async-timeout==4.0.2
attrs==22.2.0
autocommand==2.2.2
Automat==22.10.0
autopep8==2.0.2
blinker==1.5
bottle==0.12.23
Brlapi==0.8.4
btrfsutil==6.1.3
build==0.10.0
cachetools==5.3.0
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
cloudscraper==1.2.68
colorama==0.4.6
constantly==15.1.0
cryptography==39.0.1
Cython==0.29.33
decorator==5.1.1
deluge==2.1.1
distro==1.8.0
docopt==0.6.2
entrypoints==0.4
exceptiongroup==1.1.0
fastjsonschema==2.16.2
frozenlist==1.3.3
future==0.18.2
FVS==0.3.4
GeoIP==1.3.2
gitdb==4.0.10
GitPython==3.1.31
greenlet==2.0.2
gufw==22.4.0
html5lib==1.1
hyperlink==21.0.0
icoextract==0.1.4
idna==3.4
ifaddr==0.2.0
importlib-metadata==6.1.0
incremental==22.10.0
inflect==6.0.2
iniconfig==2.0.0
installer==0.6.0
iso8601==1.1.0
itsdangerous==2.1.2
jaraco.context==4.3.0
jaraco.functools==3.5.2
jaraco.text==3.11.1
Jinja2==3.1.2
Js2Py==0.72
jsonschema==4.17.3
keyman-config==13.0.0.202010241027
lensfun==0.3.3
LibAppArmor==3.1.2
libfdt==1.6.1
libtorrent==2.0.8
lit==15.0.7.dev0
louis==3.24.0
lxml==4.9.2
m3u8==3.4.0
Mako==1.2.4
manjaro-sdk==0.1
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mdurl==0.1.2
more-itertools==9.0.0
msgpack==1.0.4
multidict==6.0.4
neovim-remote==2.5.0
netsnmp-python==1.0a1
nftables==0.1
npyscreen==4.10.5
numpy==1.24.1
onboard==1.4.1
openai==0.27.0
ordered-set==4.1.0
orjson==3.8.6
packaging==23.0
pacman-mirrors==4.23.2
pathvalidate==2.5.2
patool==1.12
pefile==2022.5.30
Pillow==9.4.0
platformdirs==2.6.2
pluggy==1.0.0
ply==3.11
protobuf==3.20.3
psutil==5.9.4
pwquality==1.4.5
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.3
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
pycurl==7.45.2
pydantic==1.10.4
pydeck==0.8.0
Pygments==2.14.0
PyGObject==3.42.2
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.1
pyjsparser==2.7.1
Pympler==1.0.1
pynvim==0.4.3
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyproject_hooks==1.0.0
pyrsistent==0.19.3
PySide6==6.4.2
PySimpleGUI==4.60.4
pytest==7.2.1
python-dateutil==2.8.2
python-magic==0.4.27
python-steamgriddb==1.0.5
python-xlib==0.31
pytz==2023.2
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.28
PyYAML==6.0
qrcode==7.3.1
ranger-fm==1.9.3
rencode==1.0.6
requests==2.28.1
requests-cache==1.0.0
requests-toolbelt==0.10.1
responses==0.22.0
rich==13.3.2
semver==2.13.0
service-identity==21.1.0
setproctitle==1.3.2
shiboken6==6.4.2
shiboken6-generator==6.4.2
six==1.16.0
smmap==5.0.0
speedtest-cli==2.1.3
streamlit==1.20.0
systemd-python==235
TBB==0.2
team==1.0
tk==0.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
trove-classifiers==2023.2.9
Twisted==22.10.0
typing_extensions==4.4.0
tzdata==2023.2
tzlocal==4.3
udemy-dl==1.1
ueberzug==18.1.9
ufw==0.36.1
ujson==5.7.0
Unidecode==1.3.6
url-normalize==1.4.3
urllib3==1.26.12
validate-pyproject==0.12.1
validators==0.20.0
vkbasalt-cli==3.1.1
watchdog==3.0.0
webencodings==0.5.1
yarl==1.8.2
youtube-dl==2021.12.17
zipp==3.15.0
zope.interface==5.5.2
